.dummy-header{

  background-color: black;
  /* color: white; */
}

.dummy-header a{

  text-decoration: none;
  color: rgb(79, 78, 78);
  padding: 15px !important;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
 
}

.dummy-header a:hover{

  color: #ffffff;
  font-weight: 700;
}

.dummy-header h3{

  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 80px;

}

.dummy-header img{

  margin-left: 5px;
  width: 250px;
  margin-top: 20px;
}

.bi-facebook:hover {
  color: white;
  cursor: pointer;
}

.bi-instagram,
.bi-linkedin,
.bi-envelope,.bi-facebook {
  margin-left:  10px !important;
  width: 50px !important;
  height: 30px !important;
  margin-top: 17px !important;
  color: #f0f0f6 !important;
}

.bi-instagram:hover,
.bi-linkedin:hover,
.bi-envelope {
  color: white !important;
  cursor: pointer !important;
}

.copy-right{
  color: white;
  margin-left: 100px;
}

.all-right{
 color: white;
 text-align: end;
}
.corner {

 text-align: end !important;
 color: white;
}

.corner:hover{

 color: #ffffff;
 font-weight: bold;
 cursor: pointer;
 margin-bottom: 10px !important;
} 




  