.footer-header{

    background-color: black;
    /* width: 100%;
    height: 100vh; */
}

.col h5{

    color: #ffffff;
    font-size: 18px !important;
    margin-bottom:45px !important;
    font-weight: bold;
   
}

.col a{

    font-weight: 600 !important;
    margin-bottom: 10px !important;
    /* color: rgb(224, 239, 253) !important; */
}

.col a:hover{

    color: #ffffff !important;
}


  
  .bi-facebook:hover {
    color: white;
    cursor: pointer;
  }
  
  .bi-instagram,
  .bi-linkedin,
  .bi-envelope,.bi-facebook {
    margin-left:  10px !important;
    width: 50px !important;
    height: 30px !important;
    margin-top: 17px !important;
    color: #f0f0f6 !important;
  }
  
  .bi-instagram:hover,
  .bi-linkedin:hover,
  .bi-envelope {
    color: white !important;
    cursor: pointer !important;
  }

  .img-fluid{

     width: 250px !important;
     margin-left: 10px !important;
  }

  .cpoy-right{

     color: white;
  }

  .all-right{
    color: white;
    text-align: end;
  }
  .corner {
 
    text-align: end !important;
    color: white;
  }
  
  .corner:hover{

    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px !important;
  }